In [9]:
from timeit import default_timer as timer
from sklearn import metrics
from sklearn.model_selection import train_test_split
import warnings
from IPython.display import HTML
warnings.filterwarnings('ignore')
import time

In [2]:
import pandas as pd
df = pd.read_csv("dataset.csv")

In [3]:
x = df.drop(['State'],axis=1)
y = df['State']

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=43)
x_train.shape, x_test.shape, y_train.shape

((672, 10), (75, 10), (672,))

In [5]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [6]:
df.head()

,State,Year,Nitrogen (%),Nitrogen (Pounds/Acre),Phosphorous (%),Phosphorous (Pounds/Acre),Potash (%),Potash (Pounds/Acre),Area Planted (acres),Harvested Area (acres),Lint Yield (Pounds/Harvested Acre)
0,Alabama,1973,99,82,95,77,97,83,385,370,405
1,Alabama,1974,100,100,99,76,99,75,440,420,399
2,Alabama,1975,100,74,92,57,98,66,405,395,337
3,Alabama,1976,98,72,93,71,98,80,325,315,443
4,Alabama,1977,99,74,91,72,97,85,310,305,510

In [10]:
from sklearnex.svm import SVC
from sklearnex import patch_sklearn
from sklearn.metrics import classification_report
patch_sklearn()
begin = time.time()

SVM = SVC(gamma='auto')

SVM.fit(x_train,y_train)
# Pull out SVM! 

predicted_values = SVM.predict(x_test)

x = metrics.accuracy_score(y_test, predicted_values)
print("SVM's Accuracy is: ", x)
print(classification_report(y_test,predicted_values))
time.sleep(1)
# store end time
end = time.time()
 
# total time taken
print(f"Total runtime of the program is {end - begin}")

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

SVM's Accuracy is:  0.04
               precision    recall  f1-score   support

      Alabama       0.00      0.00      0.00         3
       Arizo0       0.00      0.00      0.00         4
     Arkansas       0.00      0.00      0.00         6
   California       0.00      0.00      0.00         3
      Georgia       0.00      0.00      0.00         8
     Louisia0       0.00      0.00      0.00         6
  Mississippi       0.00      0.00      0.00         4
     Missouri       0.03      1.00      0.05         2
   New Mexico       1.00      0.11      0.20         9
North Caroli0       0.00      0.00      0.00        11
     Oklahoma       0.00      0.00      0.00         5
South Caroli0       0.00      0.00      0.00         5
    Tennessee       0.00      0.00      0.00         7
        Texas       0.00      0.00      0.00         2

     accuracy                           0.04        75
    macro avg       0.07      0.08      0.02        75
 weighted avg       0.12      0.04      0.03        75

Total runtime of the program is 1.0404374599456787