In [9]:
from timeit import default_timer as timer
from sklearn import metrics
from sklearn.model_selection import train_test_split
import warnings
from IPython.display import HTML
warnings.filterwarnings('ignore')
import time

In [2]:
import pandas as pd
df = pd.read_csv("dataset.csv")

In [3]:
x = df.drop(['State'],axis=1)
y = df['State']

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=43)
x_train.shape, x_test.shape, y_train.shape

((672, 10), (75, 10), (672,))

In [5]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [6]:
df.head()

,State,Year,Nitrogen (%),Nitrogen (Pounds/Acre),Phosphorous (%),Phosphorous (Pounds/Acre),Potash (%),Potash (Pounds/Acre),Area Planted (acres),Harvested Area (acres),Lint Yield (Pounds/Harvested Acre)
0,Alabama,1973,99,82,95,77,97,83,385,370,405
1,Alabama,1974,100,100,99,76,99,75,440,420,399
2,Alabama,1975,100,74,92,57,98,66,405,395,337
3,Alabama,1976,98,72,93,71,98,80,325,315,443
4,Alabama,1977,99,74,91,72,97,85,310,305,510

In [7]:
model=[]
acc=[]

In [10]:
from sklearn.neighbors import KNeighborsClassifier
begin = time.time()
params = {
    'n_neighbors': 40,
    'weights': 'distance',
    'n_jobs': -1
}
start = timer()
knn = KNeighborsClassifier(**params).fit(x_train, y_train)
x = knn.score(x_train, y_train)
print("KNN's Accuracy is: ", x)
time.sleep(1)
# store end time
end = time.time()
 
# total time taken
print(f"Total runtime of the program is {end - begin}")

KNN's Accuracy is:  0.9880952380952381
Total runtime of the program is 1.0193536281585693